<div class="mall-signup-terms">
    <h2 class="text-center">Люди добрі, прочитайте уважно!</h2>
    <h4 class="text-center">Ознайомтеся з умовами відправлень, щоб уникнути непорозумінь.</h4>
    <ol>
        <li>
            У нас немає можливості оплачувати роботу менеджера продажів. Вам <span class="emphasis">НЕ передзвонять</span>, щоб підтвердити замовлення.
            Але якщо Ви отримали електронку, що замовлення прийняте, значить, ми його <span class="emphasis">точно</span> побачимо і прочитаємо. 
            Якщо у нас будуть питання, ми зв'яжемося з Вами. Якщо ні &ndash; підготуємо і відправимо.
        </li>
        <li>
            Строк підготовки і відправки замовлення &ndash; до трьох робочих днів. Але зазвичай відправляємо на 
            <span class="emphasis">наступний</span> робочий день.
        </li>
        <li>
            Після відправки ми надсилаємо номер накладної на Вашу електронку.
        </li>
        <li>
            Ви можете обрати два види оплати: передплату на банківську картку або післяплату (при отриманні у відділенні "Нової Пошти").
            Другий спосіб (післяплата) трохи дорожчий.
        </li>
        <li>
            Якщо Ви обираєте післяплату, будьте чемними, <span class="emphasis">заберіть посилку</span>. :)
        </li>
        <li>
            Замовлення відправляємо <span class="emphasis">"Новою Поштою"</span>. В нашому місті є і "Делівері", але там доставка дешевша 
            всього на 10-15 гривень, тому немає змісту відправляти там. Хоча, якщо для Вас відділення "Делівері" значно ближче &ndash;
            напишіть це у примітках, ми зможемо відправити посилку і через "Делівері".
        </li>
        <li>
            Доставку оплачує отримувач. Доставка однієї пляшки коштує близько 75 грн. Це пов'язано з тим, що пляшка скляна,
            тому НП її посилено пакує. Доставка трьох пляшок &ndash; приблизно 110 грн. Доставка шести пляшок &ndash; близько 140 грн., 
            тобто в перерахунку на 1 пляшку виходить в рази дешевше доставити 6 пляшок, ніж одну. Майте це на увазі. 
            Доставка 12 пляшок &ndash; близько 180 грн. При доставці кур'єром за Вашою адресою (не у відділення) тарифи НП трохи вищі.
        </li>
        <li>
            Ще раз <span class="emphasis">уважно</span> перевірте всі дані, які Ви вказали у формі. Неправильна літера або цифра
            може призвести до того, що посилка десь загубиться по дорозі.
        </li>
        <li>
            Якщо є питання &ndash; дзвоніть, пишіть у месенджери. Мої контакти внизу сторінки. <span class="emphasis">Я завжди відповідаю</span>.
        </li>
    </ol>
    <div class="mt-3 mx-auto">
        <label class="mall-checkbox">
            <input class="js-mall-toggle-signup-terms"
                type="checkbox"
                name="terms_accepted"
                value="1"
            >
            <span>
                {% partial __SELF__ ~ '::termslabel' %}
                <div data-validate-for="terms_accepted"></div>
            </span>
        </label>
    </div>
</div>

{% put scripts %}
    <script>
        $(function () {
            {# Disable the signup  button until the terms are accepted #}
            $('.mall-btn-signup').prop('disabled', true)
            $('.js-mall-toggle-signup-terms').on('click', function () {
                $('.mall-btn-signup').prop('disabled', ! this.checked);
            });
        })
    </script>
{% endput %}