/* Your custom styles */
/* Navigation*/
body {
    color: #582841;
}

.navbar {
    background-color: transparent;
}

.nav-blue {
    background-color: #2b3b68;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
.top-nav-collapse {
    background-color: #2b3b68;
}

ol.breadcrumb {
    padding-left: 1.5rem;
    background-color: initial;
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer.page-footer {
    background-color: #2b3b68;
    margin-top: -1px;
    color: #582841;
}

/*Call to action*/
.flex-center {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .display-3 {
        font-size: 3rem;
        margin-top: 4rem;
    }
    h3 {
        font-size: 1.3rem;
    }
}

.success.flash-message {
    top: 70px;
}

.navbar.navbar-light .navbar-nav .nav-item a.nav-link {
    font-weight: normal;
    color: white;
    width: 100%;
}
.navbar.navbar-light .navbar-nav .nav-item a.nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item.active a.nav-link:hover {
    color: #fccb6d;
}
.navbar.navbar-light.no-sidebar .navbar-nav .nav-item a.nav-link:hover,
.navbar.navbar-light.no-sidebar .navbar-nav .nav-item.active a.nav-link:hover {
    color: #333;
}

.navbar.navbar-light.no-sidebar,
.navbar.navbar-light.top-nav-collapse {
    background-color: #fccb6d;
}

.navbar.navbar-light.no-sidebar .navbar-nav .nav-item a.nav-link,
.navbar.navbar-light.top-nav-collapse .navbar-nav .nav-item a.nav-link {
    color: #582841;
}

.navbar.navbar-light .navbar-brand {
    align-self: auto;
    padding-top: .2rem;
    font-weight: normal;
    color: white;
}

.navbar.navbar-light .mall-wishlist-button a .text-empty-list,
.navbar.navbar-light .mall-wishlist-button a .text-empty-list,
.navbar.navbar-light .mall-cart-button a .icon,
.navbar.navbar-light .mall-cart-button a .icon {
    color: white;
}

.navbar.navbar-light.no-sidebar .navbar-brand,
.navbar.navbar-light.top-nav-collapse .navbar-brand {
    color: #582841;
}

.navbar.navbar-light.no-sidebar .mall-wishlist-button a .text-empty-list,
.navbar.navbar-light.top-nav-collapse .mall-wishlist-button a .text-empty-list,
.navbar.navbar-light.no-sidebar .mall-cart-button a .icon,
.navbar.navbar-light.top-nav-collapse .mall-cart-button a .icon {
    color: #582841;
}

.mall-wishlist-button a,
.mall-cart-button a {
    opacity: 0.8;
}

.mall-wishlist-button a:hover,
.mall-cart-button a:hover {
    opacity: 1;
}

.navbar.navbar-light .navbar-toggler {
    padding: 0;
}

.navbar.navbar-light.no-sidebar .navbar-toggler-icon,
.navbar.navbar-light.top-nav-collapse .navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar.navbar-light .navbar-toggler-icon {
    color: white;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar form.form-inline {
    display: none;
}

.greeting .emphasis,
article .emphasis {
    color: #b71c1c;
    font-weight: bold;
}

.greeting a .emphasis,
article a .emphasis {
    text-decoration: underline;
}

.greeting .emphasis.big {
    font-size: 1.6rem;
}

.reviews .stars {
    color: #fccb6d;
}

footer.page-footer {
    background-color: #fccb6d;
}

#form_question_form .form-control,
#form_question_form label {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#form_question_form input,
#form_question_form textarea {
    border-color: #582841;
    height: 1.5rem;
}

#form_question_form .abf-textarea label {
    vertical-align: top;
}

#form_question_form textarea {
    height: 6rem;
}

footer.page-footer a,
footer.page-footer i {
    color: #582841;
    font-size: xx-large;
}

footer.page-footer .contacts i {
    display: inline-block;
    padding: 0 10px;
}

footer.page-footer .footer-copyright {
    color: white;
    opacity: 0.8;
}

/**** MALL ****/

.mall-products-item a:hover {
    color: #582841;
}

.mall-products-item__name {
    font-size: 1rem;
    max-height: 2.5rem;
    line-height: 1.3;
    white-space: initial;
}

.mall-products-item__short-description {
    white-space: initial;
    max-height: 4rem;
}

.mall-products-item__old-price {
    height: 1.3rem;
    padding-left: 0;
    color: #596a73;
    font-style: normal;
}

.mall-product__old-price {
    color: #596a73;
    font-weight: normal;
    text-decoration: none;
}

.mall-product__old-price .crossed {
    text-decoration: line-through;
}

.mall-products-item__price {
    padding-left: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.mall-products-item__price--discount,
.mall-product__current-price.discount,
.mall-product__old-price .discount-percent {
    color: #f84941;
}

.mall-form-control input,
.mall-form-control select,
.mall-form-control textarea {
    background-color: #fefcf9;
    border-color: #fefcf9;
    color: #582841;
}

.mall-form-control label {
    color: #582841;
}

.mall-products-filter .noUi-connect {
    background-color: #fccb6d;
}

.mall-input, .mall-label {
    color: #b71c1c;
}

.mall-product__property-stock {
    font-size: 1rem;
}

.mall-form-control input {
    box-sizing: border-box;
}

.mall-product__image {
    border-color: #fceb9d;
}

.horizontal-cart {
    border-top-width: 1px;
    border-color: #f1f6f8;
}

.horizontal-cart .mall-product__price,
.horizontal-cart .mall-product__add-to-cart-form {
    border-top-width: 0;
}

.horizontal-cart .right-panel .mall-product__property-stock {
    display: none;
}

.mall-product-reviews__info-name {
    color: #582841;
}

.mall-callout--neutral {
    background-color: #fefcf9;
    color: #582841;
}

.mall-cart__header th,
.mall-selectbox-sm,
.mall-cart__grand-total td,
.mall-cart__total td,
.mall-cart__empty {
    background-color: #fefcf9;
    color: #582841;
}

.mall-cart__wrapper,
.mall-cart__table tbody td,
.mall-cart__table tbody td:first-child,
.mall-cart__table tfoot td,
.mall-cart__table th,
.mall-cart__table tr {
    border-color: #fceb9d;
}

.mall-cart__table tbody  td {
    font-size: 0.9rem;
}

.mall-cart__table td .js-mall-remove-product {
    font-size: 0.75rem;
}

.mall-cart__table td:first-child {
    min-width: 4rem;
}

.mall-discount-applier .mall-form-control {
    width: auto;
    padding-right: 1rem;
}

.mall-discount-applier input {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    height: 3rem;
}

.mall-form-control input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1px;
    margin-right: 10px;
}

.radio-buttons .mall-form-control {
    width: 50%;
}

.radio-buttons .mall-form-control label {
    text-transform: none;
    font-size: .9rem;
}

textarea#customer-notes {
    height: 75px;
}

.mall-signup__guest-option {
    margin-top: 0;
    margin-bottom: 0;
}

.mall-signup-terms,
.mall-signup-terms .mall-checkbox {
    background-color: #fefcf9;
    border-color: #fceb9d;
    color: #582841;
}

.mall-signup-terms li {
    padding: 5px 0;
}

.mall-signup-terms label.mall-checkbox {
    padding-left: 45px;
}

.mall-signup-terms .mall-checkbox input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.mall-signup-terms .mall-checkbox > span {
    font-size: 1rem;
    top: 2px;
}

.mall-form-control .input-group {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

}

.mall-form-control .input-group .input-group-prepend {
    padding-right: 5px;
}

@media only screen and (max-width: 992px) {
    .mall-products {
        padding-left: 0;
    }

    .mall-products-filter {
        padding-right: 0;
    }

    .mall-discount-applier form {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .mall-products-item {
        width: 50%;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    
    .mall-discount-applier form {
        width: 100%;
    }
    
    .mall-products-item__name {
        max-height: 3.8rem;
    }
    
    .mall-products-item__short-description {
        max-height: 5.3rem;
    }
}
