description = "The real front page"

[staticPage]
useContent = 1
default = 1

[Gate]
cookie = 7
cancelUrl = "https://www.youtube.com/watch?v=z1gul74YRZo"

[customForm]
formCode = "question_form"

[linkList]
linkTarget = "_blank"

[fontAwesomeCssLink]

[googleTracker]

[mallDependencies]

[reviews]
categoryFilter = "frontpage"
==
<?php
function onStart()
{
    $this->addCss('assets/css/frontpage.css');
    $this->addJs('assets/js/main.js');
}
?>
==
{% partial 'site/head' %}
{% partial 'site/scrollingNavbar' mainLayout="frontpage" %}

{variable name="{% component 'mallDependencies' %}introTitle" label="Intro Title" tab="Intro" type="text"}{/variable}
{variable name="tagline" label="Tagline" tab="Intro" type="text"}{/variable}

<main>
    <article>
        <!--Mask-->
        <div class="view hm-black-light">
            <div class="full-bg-img flex-center">
                <ul class="animated fadeInUp">
                    <li>
                        <h1 class="display-3 mb-4 font-bold">Медове вино "ПаТронАт"</h1></li>
                    <li>
                        <h2 class="mb-5 tagline">Його не п'ють. Його цілують...</h2>
                    </li>
                </ul>
            </div>
        </div>
        
        {% page %}
    </article>
</main>
<!--/.Mask-->

{% partial 'site/footer' %}