description = "The real front page"

[staticPage]
useContent = 1
default = 1

[Gate]
cookie = "{{ 7 }}"
cancelUrl = "{{ https://google.com }}"

[customForm]
formCode = "question_form"

[linkList]
linkTarget = "_blank"

[fontAwesomeCssLink]
==
<?php
function onStart()
{
    $this->addCss('assets/css/frontpage.css');
    $this->addJs('assets/js/main.js');
}
?>
==
{% partial 'site/head' %}
{% partial 'site/scrollingNavbar' mainLayout="frontpage" %}

{variable name="introTitle" label="Intro Title" tab="Intro" type="text"}{/variable}
{variable name="tagline" label="Tagline" tab="Intro" type="text"}{/variable}
{variable name="bgImage" label="Background Image" tab="Intro" type="mediafinder" mode="image"}{/variable}

{% set bg = bgImage %}
<main>
    <article>
        <!--Mask-->
        <div class="view hm-black-light"
             style="background: url({% if bg == '' %}'https://mdbootstrap.com/img/Photos/Others/images/79.jpg'{% else %}{{ bgImage|media }}{% endif %})
                     no-repeat center center fixed;">
            <div class="full-bg-img flex-center">
                <ul class="animated fadeInUp">
                    <li>
                        <h1 class="display-3 mb-4 font-bold">{{ introTitle }}</h1></li>
                    <li>
                        <h2 class="mb-5 tagline">{{ tagline }}</h3>
                    </li>
                </ul>
            </div>
        </div>
        
        {% page %}
    </article>
</main>
<!--/.Mask-->

{% partial 'site/footer' %}