description = "No Sidebar"

[staticPage]
useContent = 1
default = 0

[Gate]
cookie = 7
cancelUrl = "https://www.youtube.com/watch?v=z1gul74YRZo"

[fontAwesomeCssLink]

[linkList]
linkTarget = "_blank"

[customForm]
formCode = "question_form"

[googleTracker]

[session]
security = "all"

[enhancedEcommerceAnalytics]

[mallDependencies]
==
<?php
function onStart()
{
    $this->addCss('assets/css/frontpage.css');
    $this->addJs('assets/js/main.js');
}
?>
==
{% partial 'site/head' %}
{% partial 'site/scrollingNavbar' mainLayout="no-sidebar" %}

<div class="container pt-5 pb-3">
    <main class="pt-3">
        <article class="py-5">
            {% page %}
        </article>
    </main>
</div>

{% partial 'site/footer' %}